* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url("../images/greek-vase.png");
}

#wrapper {
    min-height: calc(100vh - 60px);

}

h1, h2, h3 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

h1 {
    font-size: 28px;
    line-height: 1em; 
    color: #ffffff; 
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #4aaaa5;
    line-height: 1.5em;
}

h3 {
    font-size: 20px;
    line-height: 35px; 
    color: #ffffff;
    font-weight: normal; 
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    font-size: 16px;
    line-height: 2em;
    padding-top: 20px;
}

label {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    margin: 0;
    padding: 0px;
}

a {
    color: #777;
    font-size: 18px;
    line-height: 78px;
}

header {
    background: #fff;
    border-bottom: 1px solid #ccc;
}

#lg-menu {
    width: 960px;
    margin: 0 auto;
    overflow: auto;
    clear: both;
}

#logo {
    float: left;
    width: 25%;
    background: #4aaaa5;
    padding: 25px 20px;
    text-align: center;
}

nav {
    float: left;
    width: 75%;
    height: 78px;
    text-align: right;
}

.menu-line {
    padding: 0px 10px;
    color: #ccc;
}

.line {
    height: 1px;
    color: ##ccc;
    background-color: #ccc;
    border: none;
    margin: 10px 0px;
}

section {
    background: #fff;
    width: 960px;
    padding: 20px;  
    overflow: auto;
    margin: 40px auto !important;
    border: 1px solid #ddd;
}

/* About Me */

.profile-pic {
    width: 200px;
    padding: 20px 20px 20px 0px;
    float: left;
}

/* Portfolio */

.portfolio-item {
    position: relative;
    display: inline-block; /* Make the width of box same as image */
    float: left;
}

.cleared {
    clear: both;
}

.portfolio-banner {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 60%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 280px; /* Set the width of the positioned div */
    background-color: #4aaaa5;
    color: #fff;
    padding: 10px 0px;
}

.portfolio-pic {
    width: 300px;
    border: 10px solid white;
}

/* Contact */

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    margin: 10px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
  }
  
  input[type=submit] {
    width: 100px;
    background-color: #4aaaa5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  input[type=submit]:hover {
    background-color: #666;
  }

/* Footer */
footer {
    width: 100%;
    height: 60px;
    background: #666;
    border-top: 8px solid #4aaaa5;
    text-align: center;
}

.copyright {
    color: #fff;
}
